@font-face {
  font-family: "Anton", sans-serif;
  src: url('../../assets/Anton/Anton-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}


.gridContainer {
  font-family: "Anton", sans-serif;
  display: grid;
  justify-items: center;
  margin-top: 30px;
  gap: 30px;
}

.gridContainer > h2 {
  font-size: 2.5rem;
}

.allCategories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.allCategories  img {
  height: 300px;
  width: 300px;
}

h3 {
  color: #000;
}