@font-face {
  font-family: "Anton", sans-serif;
  src: url('../../assets/Anton/Anton-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

.container {
  display: flex;
  position: relative;
}

.cart {
  height: 30px;
  width: 30px;
}

.items {
  background-color: white;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  position: absolute;
  transform: translateY(-15px) translateX(18px);
  display: flex;
  justify-content: center;
  font-family: "Anton", sans-serif;
  color: rgb(247, 100, 1);
}